<mat-horizontal-stepper [linear]='true'>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Enter Username" formControlName="username" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>
          Next<mat-icon><i class="material-icons">navigate_next</i></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>
          <mat-icon><i class="material-icons">navigate_before</i></mat-icon> Back 
        </button>
        <button mat-raised-button matStepperNext>
          Next<mat-icon><i class="material-icons">navigate_next</i></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done. You will now be redirected to a payment gateway.
    <mat-card>
      <mat-card-title>
        Order Summary.
      </mat-card-title>
      <mat-card-content>
        <ul>
          <li *ngFor="let item of cartService.cartContent">{{item.product.Pname}}</li>
        </ul>
        <strong>Bill Ammount:</strong> {{cartService.GTotal}}
      </mat-card-content>
    </mat-card>

    <div>
      <button mat-raised-button matStepperPrevious>
        <mat-icon><i class="material-icons">navigate_before</i></mat-icon> Back 
      </button>
      <button mat-raised-button (click)='done()' color="accent">Pay</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
