
      <div fxLayout='row'  >
        <mat-card fxFlex='60%' >
            <mat-card-title>
                Cart
            </mat-card-title>
            <mat-card-content fxLayout='row' fxLayoutWrap="wrap">
                <mat-card  fxFlex="40%" fxFlex.xs='100%'
                *ngFor='let item of cartService.cartContent | slice:0:2;'>
                    <mat-card-title>{{item.product.Pname}}</mat-card-title>
                    <img src="http://localhost:8080/{{item.product.fileList.replace('public','')||'test'}}" 
                    alt="productImage" mat-card-image >
                    <mat-card-content>
                        Price: {{item.product.price}}
                        Stock: {{item.product.stock}}
                    </mat-card-content>
                </mat-card> 
                <a href="">more>></a>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex='30%' fxFlex.xs='100%'>
            <mat-card-title>
                History
            </mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>Item 1</mat-list-item>
                    <mat-list-item>Item 2</mat-list-item>
                    <mat-list-item>Item 3</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

<app-footer></app-footer>
