.side-container{
    position: absolute !important;
    height: 100%;
    width: 100%;
    margin-top:64px !important; 
}
.mat-toolbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.mat-drawer{
    min-width: 280px;
}
.active{
    background: #2e3a80;
}
@media (max-width: 600px){
.side-container{
    margin-top:55px !important; 
}	
}