.side-container{
    position: absolute !important;
    height: 100%;
    width: 100%;
    padding-top:64px !important; 
}
.mat-toolbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.active{
    background: #2e3a80;
}
@media (max-width: 600px){
.side-container{
    padding-top:55px !important; 
}	
}



.mat-drawer-content{
    overflow: initial;
}

.profile-container{
    background: url('https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg');
    padding: 25px 0px;
    margin-bottom: 10px;
}
.mat-drawer{
    min-width: 200px !important;
}
.profile-container img{
    border-radius: 100px;
    position: relative;
    width: 30%;
}
.profile-container .name-text{
    
    color: white;
    z-index: 999;
    margin-left: 10px;
    padding-left: 20px;
    margin-top: 10px;
}
.profile-container .name-text p{
    margin:0;
    font-weight: 500;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.profile-container .name-text .email{
    font-size: .9em;
    font-weight: 100;
    margin-top: 3px;
}
.example-container .mat-icon{
    background: #3f50b5;
    padding: 8px;
    /* transition: 1s cubic-bezier(0.19, 0.83, 0.85, 0.32); */
    transition: pulse 2.25s cubic-bezier(.66,0,0,1);
}
.mat-button{
    padding: 9px 0px;
}
.side-container {
    position: fixed;
    /* top: 64px; */
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
@media (max-width: 600px){
.side-container{
    /* top: 56px; */
}
}